.background{
    margin-top:0.5rem;
    background-color: #5586e3;
    min-height: 35vh;
}

.headerRow{
    padding:0;
    margin: 0;
    height: 100%;
}

.banner{
    background: url("../../assets/banner.jpg") no-repeat center;
    background-size: 100% auto;
    filter: sepia(100%) hue-rotate(190deg) saturate(500%)

}